@font-face {
	font-family: "NotoSansMath";
	src: url("./fonts/NotoSansMath-Regular/NotoSansMath-Regular.ttf");
}

@keyframes highlight{
	from {
		border: solid 4px transparent;
	}
	50% {
		border: solid 4px orange;
	}
	to {
		border: solid 4px transparent;
	}
}

* {
	--highlightDuration: 2s;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition:
		all 1s,
		opacity 500ms
	;
}

body {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#232232, black);
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-evenly; */
	justify-content: space-around;

	& section.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	}
}

#toggleView {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	width: 30mm;
	height: 30mm;
	border: double 4px white;
	border-radius: 10%;
	background-color: transparent;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition:
		background 200ms,
		color 200ms
	;
	&:active {
		background: white;
		color: black;
	}
}

math {
	color: white;
	display: block;
	font-size: 4rem;
	font-family: "NotoSansMath";
	text-align: center;

	& mtable {

		& mtr {
		}
		& mtd {
			aspect-ratio: 1;
			border-radius: 50%;
			width: 6rem;
			height: 5rem;
			border: solid 4px transparent;
		}
	}
}

#matrixRow {
	color: white;
}
#inputRow {
	color: cyan;

	& mtd {
		background: #ffffff10;
	}
}
#outputRow {
	color: magenta;

	& mtd {
		background: #ffffff10;
	}
}

#matrixEquation {
}

#transformSection {
	height: 20vh;
	flex-grow: 1;
}

#swatchSection {
	height: 10vh;
	width: 30vw;

	& svg {
		width: 100%;
		height: 100%;
	}
}

#equationSection {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-evenly;
	/* margin-bottom: 6rem; */

	& .term {
		width: 6rem;
	}
	& > mrow {
		margin-bottom: 2rem;
	}
}

input[type="color"] {
	display: none;
}

#inputPage {
	position: absolute;
	top: 10vh;
	left: 10vw;
	width: 80vw;
	height: 90vh;
	background: black;
	border: double 16px white;
	border-radius: 16px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	color: white;

	& button {
		position: absolute;
		right: 0;
		margin-right: 10px;
		margin-top: 10px;
		width: 30mm;
		height: 30mm;
		border-radius: 10%;
		border: double 4px white;
		background-color: transparent;
		color: white;
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transition:
			background 200ms,
			color 200ms
		;
		&:active {
			background: white;
			color: black;
		}
	}
	
	& div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	& label {
		font-size: 3rem;
		margin-bottom: 1rem;
	}
	& input {
		width: 8rem;
		height: 6rem;
		font-size: 4rem;
		text-align: center;
		border: unset;
		border-bottom: solid 8px white;
		background-color: black;;
		color: white;

		&:focus {
			background: white;
			color: black;
		}
	}
}
